body
{
    margin: 0;
    padding: 0;
    background: #262626;
}
ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}
ul li 
{
    display: inline-block;
    transform-style: preserve-3d;
}
ul li a
{
    color: #0a090eee;
    font-size: 16px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    position: relative;
    text-decoration: none;
}
ul li a span
{
    display: block;
    padding: 15px 20px;
    
}
ul li a span:before
{
    content: '';
    position: attr(title);
    top: 0;
    margin-right: 5%;
    left: 0;
    background: red;
    color: rgb(45, 223, 10);
    padding: 15px 20px;
    transform-style: calc(1);
    transform: .3s;
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom;
}
ul li a span:hover:before
{
    transform: rotateX(0deg) translateY(0px);
}
ul li a span:after
{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     background: #340ce6;
     color: #262626;
     padding: 15px 20px;
     transform-style: preserve-3d;
     transition: .3s;
     transform: rotateX(90deg) translateY(50px);
     transform-origin: bottom;
}
ul li a span:hover:after
{
     transform: rotateX(0deg) translateY(0px);
}



